@use './small' as *;
@use './medium' as *;
@use './colors' as *;
@use './animation' as *;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Rubik', sans-serif;
	font-family: 'Titillium Web', sans-serif;
	font-size: 1.6rem;
	color: $violet;
	background-color: $white;
	// overflow: hidden;
}

h1.company-name {
	margin-bottom: 0.5em;
	font-size: rem;
	font-family: 'Titillium Web', sans-serif;
	color: $darkgreen;
}

.wrapper {
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
}

.section-title {
	position: relative;
	margin: 0 auto 2em;
	font-size: 3.2rem;
	color: $violet;
	font-weight: 200;
	width: fit-content;

	&::before {
		position: absolute;
		bottom: -0.1em;
		left: 0;
		width: 40px;
		height: 2px;
		background-color: $darkgreen;
		content: '';
	}

	span {
		font-weight: 900;
	}
}

// HEADER

.header {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	height: 100vh;
	position: relative;
	overflow: hidden;

	&__text {
		display: grid;
		justify-content: center;
		align-content: center;
		grid-row: 2/3;
		grid-column: 1/3;
		padding: 2em;

		span{
			color: $violet;
		}
	}

	p {
		font-weight: 200;
	}

	&__img {
		grid-row: 1/2;
		grid-column: 1/3;
		position: relative;
		width: 100%;
		height: 100%;
		background-image: url('../img/header-hero-img-mobile.jpg');
		background-size: cover;
		background-position: center;
		filter: contrast(135%) brightness(180%) saturate(50%);
	}

	&__shadow {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.3);
	}

	&_arrow {
		display: none;
	}

	&__bg-icon-one,
	&__bg-icon-two {
		position: absolute;
		opacity: 0.5;
		z-index: -5;
	}

	&__bg-icon-one {
		bottom: 2em;
		right: -3em;
		width: 50%;
		animation: rotate-right 55s infinite linear;
	}

	&__bg-icon-two {
		display: none;
	}
}

.hamburger {
	position: absolute;
	top: 3em;
	left: 1em;
	z-index: 500;
	transform: translateY(-50%);
	touch-action: none;

	&-inner,
	&-inner::before,
	&-inner::after {
		background-color: $white;
		z-index: 500;
	}
}

.nav {
	&-mobile {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		background-color: $white;
		transform: translateX(-102%);
		transition: transform 0.3s;
		z-index: 10;

		&--active {
			transform: translateX(0);
		}
	}

	&-desktop {
		display: none;
	}

	&__link {
		position: relative;
		display: inline-block;
		margin: 0.5em;
		padding: 0.5em;
		font-size: 2.3rem;
		color: $darkgreen;
		text-decoration: none;
		text-transform: uppercase;
		transition: color 0.3s;

		&:hover {
			color: $violet;
		}
	}
}

// MAIN, CARDS

.cards {
	background-color: $darkgreen;
	overflow: hidden;

	&__box {
		display: grid;
		grid-template-columns: repeat(9, 1fr);
		gap: 2em;
		padding: 6em 2em;
	}

	&__card {
		position: relative;
		display: grid;
		justify-items: center;
		padding: 3em;
		text-align: center;
		border: 2px solid transparent;
		border-radius: 8px;
		background-color: $white;
		transition: background-color 0.3s, border 0.3s;
		z-index: 5;

		&:hover {
			background-color: rgb(243, 238, 238);
			border: 2px solid $violet;
			z-index: 1;
		}

		&::before {
			position: absolute;
			content: '';
			width: 100%;
			height: 100%;
			border: 1px solid $violet;
			border-radius: 8px;
			opacity: 0;
		}

		&:hover::before {
			animation: pulse 1s;
		}

		img {
			margin-bottom: 1em;
			width: 60px;
		}

		h3 {
			margin-bottom: 0.6em;
			text-transform: uppercase;
			color: $violet;
		}

		p {
			color: $darkgreen;
		}

		&--one {
			grid-row: 1/2;
			grid-column: 1/-1;
		}
		&--two {
			grid-row: 2/3;
			grid-column: 1/-1;
		}
		&--three {
			grid-row: 3/4;
			grid-column: 1/-1;
		}
	}
}

// INFO

.info {
	position: relative;
	display: grid;
	grid-template-areas:
		'title' 'title' 'title'
		'box' 'box' 'box'
		'box' 'box' 'box';
	padding: 6em 2em;

	&__title {
		grid-area: title;
	}

	&__boxes {
		grid-area: box;
	}

	&__box-img {
		width: 100%;
		object-fit: cover;
		filter: contrast(135%) brightness(100%) saturate(50%);
	}

	&__box-title {
		margin: 0.3em 0;
		font-size: 2.6rem;
		transition: color 0.3s;

		&:hover {
			color: $darkgreen;
			cursor: pointer;
			text-decoration: underline;
		}
	}

	&__box-text {
		margin-bottom: 0.5em;
		color: rgb(83, 78, 78);
	}

	&__box-link {
		display: block;
		margin-bottom: 2em;
		font-weight: bold;
		color: $darkgreen;
		text-align: right;
		text-decoration: none;
		transition: color 0.2s;

		&:hover {
			color: $green;
		}
	}

	&__bg-icon {
		display: none;
	}
}

// PLANS

.plans {
	padding: 6em 2em;
	background-color: $darkgreen;

	.description-text {
		color: rgb(83, 78, 78);
	}

	.section-title {
		color: $white;
	}

	span {
		color: $violet;
	}

	&__box {
		margin: 1em 0;
		padding: 2em 1em;
		text-align: center;
		border: 1px solid transparent;
		border-radius: 8px;
		background-color: $white;
		cursor: pointer;
		transition: background-color 0.3s;

		&:hover {
			background-color: rgb(243, 238, 238);
			border: 1px solid $violet;
		}
	}

	&__item {
		margin: 1em 0;
	}

	&__item-icon {
		width: 50px;
	}

	&__item-name {
		margin-top: 1%;
		margin-bottom: 1.5em;
		font-size: 1.8rem;
		color: $darkgreen;
	}
}

// NEWSLETTER

.newsletter {
	padding: 8em 2em;
	background-color: $orange;
	text-align: center;

	span {
		font-weight: bold;
	}

	&__text {
		padding: 1em;
		margin-bottom: 1em;
		font-size: 4rem;
		font-weight: 200;
	}

	&__input {
		margin-bottom: 1em;
		padding: 1em;
		width: 100%;
		background-color: $white;
		border: 1px solid $darkgreen;
	}

	&__subscribe-btn {
		margin: 1em;
		padding: 1em;
		border: 1px solid $darkgreen;
		background: none;
		color: $violet;
		font-weight: bold;
		cursor: pointer;
		transition: background-color 0.3s;

		&:hover {
			color: $white;
			background-color: $violet;
		}
	}
}

.footer {
	padding: 3em 1em;
	border-top: 1px solid $darkgreen;
	text-align: center;
}

// CONTACT

.contact {
	padding: 6em 2em;

	span{
		font-weight: bold;
	}

	&__form {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
	}

	&__form-box {
		label {
			display: block;
			margin-bottom: 0.5em;
			font-size: 2rem;
		}

		textarea {
			max-width: 100%;
			min-width: 100%;
			width: 100%;
		}

		input,
		textarea {
			padding: 1em 2em;
			margin-bottom: 2em;
			width: 100%;
			color: rgb(83, 78, 78);
			background: none;
			border: 1px solid $darkgreen;

			&:focus {
				outline: none;
				border: 1px solid $violet;
			}
		}

		&:nth-child(1){
			grid-column: 1/-1;
			grid-row: 1/2;
		}
		&:nth-child(2){
			grid-column: 1/-1;
			grid-row: 2/3;
		}
		&:nth-child(3){
			grid-column: 1/-1;
			grid-row: 3/4;
		}
	}

	&__form-btn{
		grid-column: 1/3;
		grid-row: 4/5;
		padding: 1em;
		border: 1px solid $darkgreen;
		background: none;
		font-weight: bold;
		cursor: pointer;
		color: $violet;
		transition: background-color .3s, color .3s;

		&:hover, &:focus{
			outline: none;
			background-color: $violet;
			color: $white;
		}
	}
}

// MEDIA

@media (min-width: 576px) {
	.info {
		grid-template-areas:
			'title box'
			'title box'
			'title box';
		padding: 10em 2em;

		&__box {
			display: grid;
			justify-content: end;
		}

		&__title {
			padding: 0 1em;
		}

		&__box-img,
		&__box-text {
			max-width: 500px;
		}

		&__bg-icon {
			position: absolute;
			display: block;
			opacity: 0.2;
			z-index: -5;

			&--one {
				top: 14%;
				width: 20%;
				animation: rotate-right 160s infinite linear;
			}

			&--two {
				bottom: 10%;
				left: 10%;
				width: 30%;
				animation: rotate-left 140s infinite linear;
			}

			&--three {
				top: 26%;
				left: 16%;
				width: 50%;
				animation: rotate-left 160s infinite linear;
			}

			&--four {
				top: 60%;
				left: -5%;
				width: 15%;
				animation: rotate-right 140s infinite linear;
			}
		}
	}
}

@media (min-width: 992px) {
	.section-title {
		font-size: 4.8rem;

		&::before {
			height: 4px;
		}
	}

	h1.company-name {
		font-size: 6rem;
	}

	.header {
		grid-template-rows: auto repeat(2, 1fr);

		&__text {
			grid-row: 2/4;
			grid-column: 1/2;

			p {
				font-size: 1.8rem;
			}
		}

		&__img {
			grid-row: 1/4;
			grid-column: 2/3;
		}

		&__arrow {
			display: block;
			position: absolute;
			bottom: 3em;
			left: 48%;
			padding: 2em;
			transform: translateX(-50%);
			border: 1px solid $darkgreen;
			border-radius: 50%;

			&::before {
				position: absolute;
				top: 0;
				left: 0;
				content: '';
				width: 100%;
				height: 100%;
				border: 1px solid $violet;
				border-radius: 50%;
				animation: pulse 2s infinite;
			}
		}

		&__arrow-icon {
			width: 50px;
		}

		&__bg-icon-one {
			left: 6em;
			bottom: 8em;
			width: 10%;
		}

		&__bg-icon-two {
			display: block;
			top: 10em;
			left: 35%;
			width: 5%;
			animation: rotate-right 55s infinite linear;
		}
	}

	.nav {
		grid-column: 1/2;
		grid-row: 1/2;
		padding: 1em;

		&-desktop {
			display: block;
			border-bottom: 1px solid $violet;
		}

		&__link {
			color: $darkgreen;

			&::before {
				position: absolute;
				top: 0;
				left: 0;
				content: '';
				width: 100%;
				height: 100%;
				border: 1px solid $darkgreen;
				opacity: 0;
			}

			&:hover::before {
				animation: pulse 1s;
			}
		}
	}

	.hamburger {
		display: none;
	}
}

@media (min-width: 768px) {
	.cards {
		&__box {
			padding: 10em 2em;
		}

		&__card {
			&--one {
				grid-row: 1/2;
				grid-column: 1/4;
			}
			&--two {
				grid-row: 1/2;
				grid-column: 4/7;
			}
			&--three {
				grid-row: 1/2;
				grid-column: 7/10;
			}
		}
	}

	.plans {
		padding: 8em 2em;

		&__box {
			display: grid;
			grid-template-columns: repeat(5, 1fr);
			align-items: center;
		}

		&__item {
			margin: 0 2em;
		}

		&__item-name {
			margin-top: 0;
			margin-bottom: 0;
		}

		&__item-icon {
			margin: 0em 5em;

			&:hover {
				transform: scale(1.5);
			}
		}
	}

	.newsletter {
		&__wrapper {
			display: grid;
			grid-template-columns: 1fr 1fr;
			align-items: center;
		}

		&__text {
			margin-bottom: 0;
		}

		&__form {
			display: grid;
			grid-template-columns: 3fr 1fr;
			gap: 5rem;
		}

		&__input {
			margin: 5rem;
		}

		&__subscribe-btn {
			margin: 5rem;
		}
	}

	.contact{
		&__form{
			gap: 30px;
		}

		&__form-box{
			&:nth-child(1){
				grid-column: 1/4;
				grid-row: 1/2;
			}
			&:nth-child(2){
				grid-column: 4/7;
				grid-row: 1/2;
			}
			&:nth-child(3){
				grid-column: 1/-1;
				grid-row: 2/3;
			}
		}

		&__form-btn{
			grid-row: 3/4;
		}
	}
}

@media (min-width: 1200px) {
	.header {
		&__text {
			p {
				font-size: 2.2rem;
			}
		}
	}
}
